{% extends 'base-public.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {{ pageSeo.aboutUsPageTitle }}<br>
    {{ pageSeo.aboutUsPageDescription }}<br>
    {{ generalData.address }}<br>
    {{ generalData.email }}<br>
    {{ generalData.phone }}<br>
    {{ globalTags.pixelMetaAds }}<br>
    {{ globalTags.tagsGoogleAds }}<br>
    {{ globalTags.ga4 }}<br>
    {{ urlToPostForm.url }}<br>

    <h1>Produtos</h1>
    <ul>
        {% for product in allProducts %}
            <li><a href="{{ path('app_product_detail', {'slug': product.slug}) }}">{{ product.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
