{{ form_start(form) }}
    {% set languagesEnum = enum('App\\Entity\\Enum\\LanguageEnum') %}
    Idioma: {{ languagesEnum.getFlag(who_we_are_page.language)|raw }}

    <hr>

    <div class="mb-3">
        <label for="{{ form.presentationPart1.vars.id }}" class="form-label">Apresentação - Parte 1</label>
        {{ form_widget(form.presentationPart1, {'attr':{'class':'form-control', 'rows':'6'}}) }}
    </div>

    <div class="mb-3">
        <label for="{{ form.imageFile1.vars.id }}" class="form-label">Imagem</label>
        {{ form_widget(form.imageFile1) }}
        {% if who_we_are_page.imageFile1 is not empty %}
            <img class="mt-3" src="{{ vich_uploader_asset(who_we_are_page, 'imageFile1') }}" width="150">
        {% endif %}
    </div>

    <hr>

    <div class="mb-3">
        <label for="{{ form.presentationPart2.vars.id }}" class="form-label">Apresentação - Parte 2</label>
        {{ form_widget(form.presentationPart2, {'attr':{'class':'form-control', 'rows':'6'}}) }}
    </div>

    <div class="mb-3">
        <label for="{{ form.imageFile2.vars.id }}" class="form-label">Imagem</label>
        {{ form_widget(form.imageFile2) }}
        {% if who_we_are_page.imageFile2 is not empty %}
            <img class="mt-3" src="{{ vich_uploader_asset(who_we_are_page, 'imageFile2') }}" width="150">
        {% endif %}
    </div>

    <hr>

    <div class="mb-3">
        <label for="{{ form.presentationPart3.vars.id }}" class="form-label">Apresentação - Parte 3</label>
        {{ form_widget(form.presentationPart3, {'attr':{'class':'form-control', 'rows':'6'}}) }}
    </div>

    <div class="mb-3">
        <label for="{{ form.imageFile3.vars.id }}" class="form-label">Imagem</label>
        {{ form_widget(form.imageFile3) }}
        {% if who_we_are_page.imageFile3 is not empty %}
            <img class="mt-3" src="{{ vich_uploader_asset(who_we_are_page, 'imageFile3') }}" width="150">
        {% endif %}
    </div>

    <hr>

    <label for="{{ form.youtubeVideoCode.vars.id }}" class="form-label">Código do vídeo</label>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon3">https://youtube.com/watch?v=</span>
        {{ form_widget(form.youtubeVideoCode, {'attr':{'class':'form-control'}}) }}
    </div>
    <button class="btn btn-info float-start text-white">Salvar</button>
{{ form_end(form) }}
