<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<meta name="description" content="Área Administrativa">
		<title>
			{% block title %}Bem-vindo
			{% endblock %}
		</title>
		<!-- Vendors styles-->
		<link rel="stylesheet" href="{{ asset('admin/vendors/simplebar/css/simplebar.css') }}">
		<link
		rel="stylesheet" href="{{ asset('admin/css/vendors/simplebar.css') }}">
		<!-- Main styles for this application-->
		<link
		href="{{ asset('admin/css/style.css') }}" rel="stylesheet">
		<!-- We use those styles to show code examples, you should remove them in your application.-->
		<link href="{{ asset('admin/css/examples.css') }}" rel="stylesheet">
		<link href="{{ asset('admin/vendors/@coreui/chartjs/css/coreui-chartjs.css') }}" rel="stylesheet"> {% block stylesheets %}{% endblock %}{% block javascripts %}{% endblock %}
		</head>
		<body>
			<div class="sidebar sidebar-dark sidebar-fixed" id="sidebar">
				<div class="sidebar-brand d-none d-md-flex">
					<svg class="sidebar-brand-full" width="118" height="46" alt="CoreUI Logo">
						<use xlink:href="assets/brand/coreui.svg#full"></use>
					</svg>
					<svg class="sidebar-brand-narrow" width="46" height="46" alt="CoreUI Logo">
						<use xlink:href="assets/brand/coreui.svg#signet"></use>
					</svg>
				</div>
				<ul class="sidebar-nav" data-coreui="navigation" data-simplebar="">
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_admin_dashboard') }}">
							<svg
								xmlns="http://www.w3.org/2000/svg" viewbox="0 0 576 512" fill="white" height="20" class="me-4">
								<!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
								<path d="M0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm320 96c0-26.9-16.5-49.9-40-59.3V88c0-13.3-10.7-24-24-24s-24 10.7-24 24V292.7c-23.5 9.5-40 32.5-40 59.3c0 35.3 28.7 64 64 64s64-28.7 64-64zM144 176a32 32 0 1 0 0-64 32 32 0 1 0 0 64zm-16 80a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zm288 32a32 32 0 1 0 0-64 32 32 0 1 0 0 64zM400 144a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/>
							</svg>
							Dashboard</a>
					</li>
					<li class="nav-title">Produtos</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_admin_product_property_index') }}">
							<svg
								xmlns="http://www.w3.org/2000/svg" viewbox="0 0 576 512" fill="white" height="20" class="me-4">
								<!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
								<path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/>
							</svg>
							Propriedades</a>
					</li>
					<li class="nav-title">Notícias</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_admin_news_category_index') }}">
							<svg
								xmlns="http://www.w3.org/2000/svg" viewbox="0 0 576 512" fill="white" height="20" class="me-4">
								<!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
								<path d="M96 96c0-35.3 28.7-64 64-64H448c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H80c-44.2 0-80-35.8-80-80V128c0-17.7 14.3-32 32-32s32 14.3 32 32V400c0 8.8 7.2 16 16 16s16-7.2 16-16V96zm64 24v80c0 13.3 10.7 24 24 24H296c13.3 0 24-10.7 24-24V120c0-13.3-10.7-24-24-24H184c-13.3 0-24 10.7-24 24zm208-8c0 8.8 7.2 16 16 16h48c8.8 0 16-7.2 16-16s-7.2-16-16-16H384c-8.8 0-16 7.2-16 16zm0 96c0 8.8 7.2 16 16 16h48c8.8 0 16-7.2 16-16s-7.2-16-16-16H384c-8.8 0-16 7.2-16 16zM160 304c0 8.8 7.2 16 16 16H432c8.8 0 16-7.2 16-16s-7.2-16-16-16H176c-8.8 0-16 7.2-16 16zm0 96c0 8.8 7.2 16 16 16H432c8.8 0 16-7.2 16-16s-7.2-16-16-16H176c-8.8 0-16 7.2-16 16z"/>
							</svg>
							Propriedades</a>
					</li>
					<li class="nav-title">Informações do site</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_admin_general_data_edit', {'id': 1}) }}">
							<svg
								xmlns="http://www.w3.org/2000/svg" viewbox="0 0 576 512" fill="white" height="20" class="me-4">
								<!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
								<path d="M352 256c0 22.2-1.2 43.6-3.3 64H163.3c-2.2-20.4-3.3-41.8-3.3-64s1.2-43.6 3.3-64H348.7c2.2 20.4 3.3 41.8 3.3 64zm28.8-64H503.9c5.3 20.5 8.1 41.9 8.1 64s-2.8 43.5-8.1 64H380.8c2.1-20.6 3.2-42 3.2-64s-1.1-43.4-3.2-64zm112.6-32H376.7c-10-63.9-29.8-117.4-55.3-151.6c78.3 20.7 142 77.5 171.9 151.6zm-149.1 0H167.7c6.1-36.4 15.5-68.6 27-94.7c10.5-23.6 22.2-40.7 33.5-51.5C239.4 3.2 248.7 0 256 0s16.6 3.2 27.8 13.8c11.3 10.8 23 27.9 33.5 51.5c11.6 26 20.9 58.2 27 94.7zm-209 0H18.6C48.6 85.9 112.2 29.1 190.6 8.4C165.1 42.6 145.3 96.1 135.3 160zM8.1 192H131.2c-2.1 20.6-3.2 42-3.2 64s1.1 43.4 3.2 64H8.1C2.8 299.5 0 278.1 0 256s2.8-43.5 8.1-64zM194.7 446.6c-11.6-26-20.9-58.2-27-94.6H344.3c-6.1 36.4-15.5 68.6-27 94.6c-10.5 23.6-22.2 40.7-33.5 51.5C272.6 508.8 263.3 512 256 512s-16.6-3.2-27.8-13.8c-11.3-10.8-23-27.9-33.5-51.5zM135.3 352c10 63.9 29.8 117.4 55.3 151.6C112.2 482.9 48.6 426.1 18.6 352H135.3zm358.1 0c-30 74.1-93.6 130.9-171.9 151.6c25.5-34.2 45.2-87.7 55.3-151.6H493.4z"/>
							</svg>
							Dados gerais</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_admin_page_seo_index') }}">
							<svg
								xmlns="http://www.w3.org/2000/svg" viewbox="0 0 576 512" fill="white" height="20" class="me-4">
								<!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
								<path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/>
							</svg>
							SEO das páginas</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="typography.html">
							<svg class="nav-icon">
								<use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-pencil"></use>
							</svg>
							Typography</a>
					</li>
					<li class="nav-title">Components</li>
					<li class="nav-group">
						<a class="nav-link nav-group-toggle" href="#">
							<svg class="nav-icon">
								<use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-puzzle"></use>
							</svg>
							Base</a>
						<ul class="nav-group-items">
							<li class="nav-item">
								<a class="nav-link" href="base/accordion.html">
									<span class="nav-icon"></span>
									Accordion</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="base/breadcrumb.html">
									<span class="nav-icon"></span>
									Breadcrumb</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="base/cards.html">
									<span class="nav-icon"></span>
									Cards</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="base/carousel.html">
									<span class="nav-icon"></span>
									Carousel</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="base/collapse.html">
									<span class="nav-icon"></span>
									Collapse</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="base/list-group.html">
									<span class="nav-icon"></span>
									List group</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="base/navs-tabs.html">
									<span class="nav-icon"></span>
									Navs &amp; Tabs</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="base/pagination.html">
									<span class="nav-icon"></span>
									Pagination</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="base/placeholders.html">
									<span class="nav-icon"></span>
									Placeholders</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="base/popovers.html">
									<span class="nav-icon"></span>
									Popovers</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="base/progress.html">
									<span class="nav-icon"></span>
									Progress</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="base/scrollspy.html">
									<span class="nav-icon"></span>
									Scrollspy</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="base/spinners.html">
									<span class="nav-icon"></span>
									Spinners</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="base/tables.html">
									<span class="nav-icon"></span>
									Tables</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="base/tooltips.html">
									<span class="nav-icon"></span>
									Tooltips</a>
							</li>
						</ul>
					</li>
					<li class="nav-group">
						<a class="nav-link nav-group-toggle" href="#">
							<svg class="nav-icon">
								<use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-cursor"></use>
							</svg>
							Buttons</a>
						<ul class="nav-group-items">
							<li class="nav-item">
								<a class="nav-link" href="buttons/buttons.html">
									<span class="nav-icon"></span>
									Buttons</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="buttons/button-group.html">
									<span class="nav-icon"></span>
									Buttons Group</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="buttons/dropdowns.html">
									<span class="nav-icon"></span>
									Dropdowns</a>
							</li>
						</ul>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="charts.html">
							<svg class="nav-icon">
								<use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-chart-pie"></use>
							</svg>
							Charts</a>
					</li>
					<li class="nav-group">
						<a class="nav-link nav-group-toggle" href="#">
							<svg class="nav-icon">
								<use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-notes"></use>
							</svg>
							Forms</a>
						<ul class="nav-group-items">
							<li class="nav-item">
								<a class="nav-link" href="forms/form-control.html">
									Form Control</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="forms/select.html">
									Select</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="forms/checks-radios.html">
									Checks and radios</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="forms/range.html">
									Range</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="forms/input-group.html">
									Input group</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="forms/floating-labels.html">
									Floating labels</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="forms/layout.html">
									Layout</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="forms/validation.html">
									Validation</a>
							</li>
						</ul>
					</li>
					<li class="nav-group">
						<a class="nav-link nav-group-toggle" href="#">
							<svg class="nav-icon">
								<use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-star"></use>
							</svg>
							Icons</a>
						<ul class="nav-group-items">
							<li class="nav-item">
								<a class="nav-link" href="icons/coreui-icons-free.html">
									CoreUI Icons<span class="badge badge-sm bg-success ms-auto">Free</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="icons/coreui-icons-brand.html">
									CoreUI Icons - Brand</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="icons/coreui-icons-flag.html">
									CoreUI Icons - Flag</a>
							</li>
						</ul>
					</li>
					<li class="nav-group">
						<a class="nav-link nav-group-toggle" href="#">
							<svg class="nav-icon">
								<use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-bell"></use>
							</svg>
							Notifications</a>
						<ul class="nav-group-items">
							<li class="nav-item">
								<a class="nav-link" href="notifications/alerts.html">
									<span class="nav-icon"></span>
									Alerts</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="notifications/badge.html">
									<span class="nav-icon"></span>
									Badge</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="notifications/modals.html">
									<span class="nav-icon"></span>
									Modals</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="notifications/toasts.html">
									<span class="nav-icon"></span>
									Toasts</a>
							</li>
						</ul>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="widgets.html">
							<svg class="nav-icon">
								<use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-calculator"></use>
							</svg>
							Widgets<span class="badge badge-sm bg-info ms-auto">NEW</span>
						</a>
					</li>
					<li class="nav-divider"></li>
					<li class="nav-title">Extras</li>
					<li class="nav-group">
						<a class="nav-link nav-group-toggle" href="#">
							<svg class="nav-icon">
								<use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-star"></use>
							</svg>
							Pages</a>
						<ul class="nav-group-items">
							<li class="nav-item">
								<a class="nav-link" href="login.html" target="_top">
									<svg class="nav-icon">
										<use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-account-logout"></use>
									</svg>
									Login</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="register.html" target="_top">
									<svg class="nav-icon">
										<use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-account-logout"></use>
									</svg>
									Register</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="404.html" target="_top">
									<svg class="nav-icon">
										<use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-bug"></use>
									</svg>
									Error 404</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="500.html" target="_top">
									<svg class="nav-icon">
										<use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-bug"></use>
									</svg>
									Error 500</a>
							</li>
						</ul>
					</li>
					<li class="nav-item mt-auto">
						<a class="nav-link" href="https://coreui.io/docs/templates/installation/" target="_blank">
							<svg class="nav-icon">
								<use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-description"></use>
							</svg>
							Docs</a>
					</li>
					<li class="nav-item">
						<a class="nav-link nav-link-danger" href="https://coreui.io/pro/" target="_top">
							<svg class="nav-icon">
								<use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-layers"></use>
							</svg>
							Try CoreUI
							<div class="fw-semibold">PRO</div>
						</a>
					</li>
				</ul>
				<button class="sidebar-toggler" type="button" data-coreui-toggle="unfoldable"></button>
			</div>
			<div class="wrapper d-flex flex-column min-vh-100 bg-light">
				<header class="header header-sticky mb-4">
					<div class="container-fluid">
						<button class="header-toggler px-md-0 me-md-3" type="button" onclick="coreui.Sidebar.getInstance(document.querySelector('#sidebar')).toggle()">
							<svg
								xmlns="http://www.w3.org/2000/svg" viewbox="0 0 576 512" width="20" height="20">
								<!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
								<path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/>
							</svg>
						</button>
						<a class="header-brand d-md-none" href="#">
							<svg width="118" height="46" alt="CoreUI Logo">
								<use xlink:href="assets/brand/coreui.svg#full"></use>
							</svg>
						</a>
						Dashboard
					</div>
				</header>
				<div class="body flex-grow-1 px-3">
					<div class="container-lg"> {% block body %}{% endblock %}
						</div>
					</div>
					<footer class="footer">
						<div>
							<a href="https://coreui.io">CoreUI
							</a>
							<a href="https://coreui.io">Bootstrap Admin Template</a>
							© 2023 creativeLabs.</div>
						<div class="ms-auto">Powered by&nbsp;<a href="https://coreui.io/docs/">CoreUI UI Components</a>
						</div>
					</footer>
				</div>
				<!-- CoreUI and necessary plugins-->
				<script src="{{ asset('admin/vendors/@coreui/coreui/js/coreui.bundle.min.js') }}"></script>
				<script src="{{ asset('admin/vendors/simplebar/js/simplebar.min.js') }}"></script>
				<!-- Plugins and scripts required by this view-->
				<script src="{{ asset('admin/vendors/chart.js/js/chart.min.js') }}"></script>
				<script src="{{ asset('admin/vendors/@coreui/chartjs/js/coreui-chartjs.js') }}"></script>
				<script src="{{ asset('admin/vendors/@coreui/utils/js/coreui-utils.js') }}"></script>
				<script src="{{ asset('admin/js/main.js') }}"></script>
				<script src="https://kit.fontawesome.com/ddf62469f1.js" crossorigin="anonymous"></script>
			</body>
		</html>
