<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Ãrea Administrativa">
    <title>
        {% block title %}Bem-vindo
        {% endblock %}
    </title>
    <!-- Vendors styles-->
    <link rel="stylesheet" href="{{ asset('admin/vendors/simplebar/css/simplebar.css') }}">
    <link
            rel="stylesheet" href="{{ asset('admin/css/vendors/simplebar.css') }}">
    <!-- Main styles for this application-->
    <link
            href="{{ asset('admin/css/style.css') }}" rel="stylesheet">
    <!-- We use those styles to show code examples, you should remove them in your application.-->
    <link href="{{ asset('admin/css/examples.css') }}" rel="stylesheet">
    <link href="{{ asset('admin/vendors/@coreui/chartjs/css/coreui-chartjs.css') }}"
          rel="stylesheet"> {% block stylesheets %}{% endblock %}{% block javascripts %}{% endblock %}
</head>
<body>
<div class="wrapper d-flex flex-column min-vh-100 bg-light">
    <div class="body flex-grow-1 px-3">
        <div class="container-lg"> {% block body %}{% endblock %}</div>
    </div>
</div>
<!-- CoreUI and necessary plugins-->
<script src="{{ asset('admin/vendors/@coreui/coreui/js/coreui.bundle.min.js') }}"></script>
<script src="{{ asset('admin/vendors/simplebar/js/simplebar.min.js') }}"></script>
<!-- Plugins and scripts required by this view-->
<script src="{{ asset('admin/vendors/chart.js/js/chart.min.js') }}"></script>
<script src="{{ asset('admin/vendors/@coreui/chartjs/js/coreui-chartjs.js') }}"></script>
<script src="{{ asset('admin/vendors/@coreui/utils/js/coreui-utils.js') }}"></script>
<script src="{{ asset('admin/js/main.js') }}"></script>
<script src="https://kit.fontawesome.com/ddf62469f1.js" crossorigin="anonymous"></script>
</body>
</html>
