{% extends 'base.html.twig' %}
{% set languagesEnum = enum('App\\Entity\\Enum\\LanguageEnum') %}
{% block title %}Lista dos manuais do produto{% endblock %}
{% block javascripts %}

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <script>
        $(document).ready(() => {
            $('#tabela').DataTable({
                "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "Todos"]],
                "language": {
                    "lengthMenu": "Mostrando _MENU_ registros por página",
                    "zeroRecords": "Nada encontrado",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Nenhum registro disponível",
                    "infoFiltered": "(filtrado de _MAX_ registros no total)",
                    "search": " Pesquisar",

                    "paginate": {
                        "first": "Primeira",
                        "last": "Última",
                        "next": "Próxima",
                        "previous": "Anterior"
                    },
                }
            });
        });
    </script>

{% endblock %}
{% block body %}
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css"/>
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>

    <h1>{{ product.title }}</h1>
    <h4>Manuais do produto</h4>

    <div>
        <div class="row text-end">
            <div class="col">
                <a class="btn btn-success text-white mb-3" href="{{ path('app_admin_product_manual_new',  {'productId': product.id}) }}">Novo</a>
            </div>
        </div>
        <div class="card mb-5">
            <div class="card-header">Manuais</div>
            <div class="card-body">
                <table class="table" id="tabela">
                    <thead>
                    <tr>
                        <th class="text-start">Título</th>
                        <th class="text-start"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product_manual in product_manuals %}
                        <tr>
                            <td class="text-start">{{ product_manual.title }}</td>
                            <td>
                                {% if product_manual.manualFile is not empty %}
                                    <a class="btn btn-secondary float-end ms-2" href="{{ vich_uploader_asset(product_manual, 'manualFile') }}" target="_blank">Ver PDF</a>
                                {% endif %}

                                <a class="btn btn-primary float-end"
                                   href="{{ path('app_admin_product_manual_edit', {'id': product_manual.id, 'productId':product.id}) }}">Editar</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>Sem registros</td>
                            <td></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <a class="btn btn-secondary" href="{{ path('app_admin_product_index') }}">Voltar para a lista de produtos</a>

{% endblock %}