{{ form_start(form) }}
    <div class="row">
        <div class="mb-3 col col-6">
            <label for="{{ form.product.vars.id }}" class="form-label">Produto</label>
            {{ form_widget(form.product, {'attr':{'class':'form-control'}}) }}
        </div>
        <div class="mb-3 col col-6">
            <label for="{{ form.productProperty.vars.id }}" class="form-label">Propriedade</label>
            {{ form_widget(form.productProperty, {'attr':{'class':'form-control'}}) }}
        </div>
        <div class="mb-3 col col-6">
            <label for="{{ form.value.vars.id }}" class="form-label">Valor</label>
            {{ form_widget(form.value, {'attr':{'class':'form-control'}}) }}
        </div>
        <div class="mb-3 col col-6">
            <label for="{{ form.language.vars.id }}" class="form-label">Idioma</label>
            {{ form_widget(form.language, {'attr':{'class':'form-control'}}) }}
        </div>
    </div>
    <button class="btn btn-info float-start text-white mt-3">Salvar</button>
{{ form_end(form) }}
